@import "vendor/bootstrap.scss";
//colors ================
$accent: #fed136;
$black: #222;
$light-grey:#f1f1f1;
$dark-grey-p: #777;
$twitter-blue: #00aced;
$facebook-blue: #3b5998;
$pinterest-red:#cb2028;
$google-red: #d95232;
$background-grey: #f7f7f7;
$white: #fff;
// fonts ======================
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab');
@font-face {
    font-family: droid-italic;
    src: url('../vendor/fonts/DroidSerif-Italic.ttf')
}

@font-face {
    font-family: wisdom-script;
    src: url('../vendor/fonts/Wisdom-script.otf')
}

$ff-droid: droid-italic;
$ff-wisdom: wisdom-script;
$ff-mont: 'Montserrat',
sans-serif;
//===================GENERAL STYLES
body {
    font-size: 14px;
    min-width: 360px;
}

.my-container {
    min-width: 360px;
    max-width: 940px;
    margin: 0 auto;
}

h1 {
    font-family: 'Montserrat';
    font-size: 4em;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
}

h3 {
    font-family: $ff-droid;
    font-style: italic;
    font-size: 2.8em;
    font-weight: 400;
    color: $white;
    letter-spacing: -1px;
}

.my-btn {
    display: inline-block;
    padding: 25px 50px;
    border-radius: 5px;
    border: none;
    transition: ease-in-out .2s;
}

.accent {
    background: $accent;
    color: $white;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: $ff-mont;
    font-weight: 700;
}

p {
    font-family: 'Roboto Slab';
    font-weight: 400;
}

.section-title {
    color: $black;
    text-align: center;
    h2 {
        font-family: $ff-mont;
        text-transform: uppercase;
        font-size: 2.8em;
        margin: 0;
        font-weight: 700;
    }
    p {
        font-family: $ff-droid;
        color: $dark-grey-p;
        font-size: 1.1em;
        margin: 20px 0;
    }
}

.sub-title {
    color: $black;
    text-align: center;
    h4 {
        font-family: $ff-mont;
        font-size: 1.2em;
        font-weight: 700;
    }
    p {
        font-family: $ff-droid;
        color: $dark-grey-p;
        font-size: 1em;
    }
}

//==================NAVBAR STYLES
#home {
    .my-logo {
        display: inline-block;
        font-family: $ff-wisdom;
        font-size: 2em;
        color: $accent;
        cursor: pointer;
        margin: 5px 10px 0;
        transition: .3s;
        line-height: 42px;
    }
    .my-navbar {
        width: 100%;
        position: fixed;
        top: 0;
        transition: .3s;
        z-index: 3;
        @media (max-width: 768px) {
            position: fixed;
            height: 50px;
            background: $black;
            z-index: 5;
            .my-logo {
                margin: 0px 10px 0;
                line-height: 45px;
                transition: .3s;
                font-size: 1.6em;
            }
        }
        @media (min-width: 768px) {
            //when navbar is not on the top of site:
            &.fixed {
                position: fixed;
                height: 50px;
                background: $black;
                z-index: 5;
                .my-logo {
                    margin: 0px 15px 0;
                    line-height: 40px;
                    transition: .3s;
                    font-size: 1.8em;
                }
                ul>li>a {
                    margin-left: 15px;
                    margin-top: 15px;
                    font-size: 14px;
                }
            }
        }
        .hidden {
            display: none;
        }
    }
    #toggle-btn {
        color: $white;
        outline: none;
        font-size: 1.6rem;
        margin-top: 5px;
        &.active {
            color: $accent;
        }
    }
    #navbarNav {
        width: 85%;
        float: right;
        @media (max-width: 768px) {
            width: 100%;
            text-align-last: center;
        }
    }
}

.navbar-collapse {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            &:last-of-type a {
                @media (min-width: 768px) {
                    margin-right: 15px;
                }
            }
            a {
                font-family: $ff-mont;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                color: $white;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.4px;
                transition: .3s;
                @media (min-width: 768px) {
                    margin: 20px 0 0 30px;
                }
            }
            &:hover a,
            &.active a {
                color: $accent;
            }
        }
    }
    @media (max-width: 768px) {
        li {
            background: $black;
            transition: .2s;
            a {
                padding: 8px;
                font-size: 12px;
                display: flex;
            }
            &:hover {
                background: #333;
            }
        }
    }
}

//==================JUMBOTRON STYLES
.hero {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    @media (max-width: 768px) {
        h1, h3, .my-btn {
            transform: scale(0.8)
        }
        h1 {
            margin-bottom: 1.5rem;
            margin-top: 1rem;
        }
    }
    .sub-title{
        z-index: 2;
    }
}

.parallax-bg {
    transition: initial;
    background-image: url('../images/background-image.png');
    text-align: center;
    align-items: center;
    background-position: center;
    position: relative;
    top: -50px;
    background-size: cover;
    opacity: 1;
    &::before {
        content: '';
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
}

//=====================SERVICES STYLES
.row::after,
.row::before {
    content: " ";
    display: table;
    clear: both;
}

.services {
    padding: 120px 0;
    [class*="col-"] {
        margin: 50px auto;
    }
    .service-icon {
        margin: 25px auto;
        width: 70px;
        height: 70px;
        position: relative;
        border: 3px solid $accent;
        border-radius: 50%;
        img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }
}

//=====================PORTFOLIO STYLES
.portfolio {
    background: $background-grey;
    padding: 120px 0;
    .section-title {
        margin-bottom: 30px;
    }
    .sub-title {
        margin-top: 29px;
        h4 {
            margin: 5px 0 0 0;
        }
        p {
            margin: 0;
        }
    }
    img {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.portfolio-photo {
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    figcaption {
        position: absolute;
        top: 130%;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($accent, .8);
        color: $white;
        text-shadow: 1px 1px 3px $dark-grey-p;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2em;
        transition: top ease-in-out 250ms;
        a {
            outline: none;
        }
    }
    @media (min-width:768px) {
        &:hover figcaption {
            top: 0;
        }
    }
    @media (max-width:767.98px) {
        &.active figcaption {
            top: 0;
        }
    }
}

.portfolio-title {
    font-size: 2.2em;
    margin-bottom: auto;
    font-family: $ff-mont;
    font-weight: 400;
    text-transform: uppercase;
}

.portfolio-desc {
    font-family: $ff-droid;
    font-size: 1em;
}

.portfolio-link {
    font-family: $ff-mont;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: none;
    color: $white;
    transition: .2s;
    align-self: flex-start;
    border-bottom: 2px solid $white;
    cursor: pointer
}

a:hover {
    text-decoration: none;
}

.modal {
    font-family: $ff-mont;
    color: $white;
    margin-top: 40px;
    .row {
        font-weight: 900;
    }
    .close {
        color: $white;
    }
    iframe {
        height: 400px;
        width: 100%;
        border: none;
        @media (max-width: 768px) {
            height: 300px;
        }
    }
    td {
        border-top: none;
        border-bottom: 1px solid $gray-dark;
    }
    .modal-footer {
        margin: 15px auto;
    }
}

// ====================================================
//=======================================================
//===================== About - TIMELINE STYLES
//=======================================================
%clearfix {
    &:after,
    &:before {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}

// Timeline
.about {
    padding: 120px 0;
    .section-title {
        margin-bottom: 80px;
    }
    #timeline {
        width: 100%;
        margin: 0px auto;
        position: relative;
        padding: 0 10px;
        transition: all .4s ease;
        &:before {
            content: "";
            width: 3px;
            height: 100%;
            background: $light-grey;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            position: absolute;
            @media (max-width: 768px) {
                left: 11.2%;
            }
        }
        &:after {
            content: "";
            clear: both;
            display: table;
            width: 100%;
        }
        .timeline-item {
            margin-bottom: 80px;
            position: relative;
            @extend %clearfix;
            @media (max-width: 460px) {
                margin-bottom: 100px;
            }
            &:last-child {
                height: 170px;
                margin-bottom: 0;
                @media (max-width: 768px) {
                    height: 90px;
                }
            }
            .timeline-img {
                background: $light-grey;
                width: 170px;
                height: 170px;
                position: absolute;
                top: 0;
                left: 50%;
                overflow: hidden;
                transform: translateX(-50%);
                border-radius: 50%;
                z-index: 2;
                @media (max-width: 768px) {
                    width: 100px;
                    height: 100px;
                    left: 10%;
                }
                .tm-photo {
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                .timeline-ending {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    div {
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        object-fit: cover;
                    }
                }
                img {
                    position: absolute;
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                    @media (max-width: 768px) {
                        width: 90px;
                        height: 90px;
                    }
                }
                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    border-radius: 50%;
                    font-family: $ff-mont;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: 700;
                    height: 160px;
                    width: 160px;
                    align-items: center;
                    justify-content: center;
                    background: $accent;
                    color: $white;
                    outline: none;
                    @media (max-width: 768px) {
                        width: 90px;
                        height: 90px;
                        font-size: 0.9em;
                    }
                }
            }
            .timeline-content {
                margin: auto 0;
                width: 40%;
                padding: 0 20px;
                background: #fff;
                padding: auto 20px;
                @media (max-width: 768px) {
                    width: 80%;
                    float: right;
                }
                .sub-title {
                    @media (max-width: 768px) {
                        text-align: left;
                    }
                    @media (max-width: 460px) {
                        .hidden-on-start {
                            visibility: hidden;
                            &::after {
                                content: '...';
                            }
                        }
                        margin-left: 20px;
                    }
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    height: 170px;
                    justify-content: center;
                    h4:first-of-type {
                        text-transform: uppercase;
                    }
                    h4:last-of-type {
                        text-transform: capitalize;
                    }
                }
                &.right {
                    float: right;
                    .sub-title {
                        text-align: left;
                        display: flex;
                        flex-direction: column;
                        height: 170px;
                        justify-content: center;
                    }
                }
            }
            .last-item-content {
                position: absolute;
                z-index: 0;
                right: 0;
                top: 0;
                @media (min-width: 768px) {
                    font-size: 12rem;
                    opacity: 0.06;
                }
                @media (max-width: 768px) {
                    right: 20%;
                    font-size: 7rem;
                    opacity: 0.07;
                }
                @media (max-width: 500px) {
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;
        &:before {
            left: 0;
        }
        .timeline-item {
            .timeline-content {
                width: 90%;
                float: right;
            }
            .timeline-icon {
                left: 0;
            }
        }
    }
}

// ========= TEAM STYLES
.team {
    padding: 120px 0 70px;
    background: $background-grey;
    @media (max-width: 768px) {
        padding: 120px 0 0px;
    }
    .team-photo {
        margin: 0 auto;
        width: 230px;
        height: 230px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        img {
            position: absolute;
            top: -10%;
            left: 0;
            width: 100%;
            background-size: cover;
            object-fit: center;
            transition: all ease-in-out .15s;
            &:hover {
                top: -12%;
            }
        }
    }
    .sub-title {
        margin: 25px auto 14px;
    }
    .col-md-4 {
        padding-bottom: 50px;
    }
    .team-social {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        a {
            margin: 0 5px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            color: $black;
            font-size: 1.2em;
            width: 41px;
            height: 41px;
            border: 3px solid $black;
            border-radius: 50%;
            transition: .3s;
            @media(min-width: 768px) {
                &:hover {
                    border: none;
                    color: $white;
                }
            }
        }
        @media(min-width: 768px) {
            .i-facebook:hover {
                background: $facebook-blue;
            }
            .i-twitter:hover {
                background: $twitter-blue;
            }
            .i-pinterest:hover {
                background: $pinterest-red;
            }
            .i-google:hover {
                background: $google-red;
            }
        }
    }
}

//COMPANIES
.logos {
    display: block;
    margin: 60px auto;
    width: 100%;
    text-align: center;
    a {
        display: inline-block;
        margin: 10px 15px;
    }
}

//CONTACT
.contact {
    background: $black;
    padding: 120px 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 0;
    &::before {
        content: '';
        background-image: url('../images/map-image.png');
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 120px;
        z-index: 0;
    }
    .section-title {
        z-index: 6;
    }
    h2 {
        color: $white;
    }
    .row {
        margin-top: 80px;
        -index: 4;
    }
    .area {
        height: calc(100% - 1rem);
        margin-bottom: 1rem;
        z-index: 6;
        textarea {
            height: 100%;
            margin-bottom: 1rem;
        }
    }
    .my-btn {
        display: inline-block;
        padding: 15px 30px;
        border-radius: 5px;
        margin-top: 15px;
    }
}

//FOOTER
footer {
    .row {
        p {
            font-family: $ff-mont;
        }
        .my-social-network {
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 768px) {
                height: 50px;
            }
            a {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                color: $black;
                font-size: 1.3em;
                width: 41px;
                height: 41px;
                background: $black;
                color: $white;
                border-radius: 50%;
                transition: .3s;
                margin: auto 5px;
                @media (min-width: 768px) {
                    &:hover {
                        border: none;
                        color: $white;
                    }
                }
            }
            @media (min-width: 768px) {
                .i-facebook:hover {
                    background: $facebook-blue;
                    transform: rotatez(360deg);
                }
                .i-github:hover {
                    background: black;
                    transform: rotatez(360deg);
                }
                .i-instagram:hover {
                    background: #9d7144;
                    transform: rotatez(360deg);
                }
                .i-google:hover {
                    background: $google-red;
                    transform: rotatez(360deg);
                }
            }
        }
    }
}