@import 'vendor/normalize';
//colors ================
$accent: #fed136;
$black: #222;
$light-grey:#f1f1f1;
$dark-grey-p: #777;
$twitter-blue: #00aced;
$facebook-blue: #3b5998;
$pinterest-red:#cb2028;
$google-red: #d95232;
$background-grey: #f7f7f7;
$white: #fff;
// fonts ======================
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab');
@font-face {
    font-family: droid-italic;
    src: url('../vendor/fonts/DroidSerif-Italic.ttf')
}

@font-face {
    font-family: wisdom-script;
    src: url('../vendor/fonts/Wisdom-script.otf')
}

$ff-droid: droid-italic;
$ff-wisdom: wisdom-script;
$ff-mont: 'Montserrat',
sans-serif;
//===================GENERAL STYLES
body {
    font-size: 14px;
}

.my-container {
    max-width: 940px;
    margin: 0 auto;
}

h1 {
    font-family: 'Montserrat';
    font-size: 4em;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
}

h3 {
    font-family: $ff-droid;
    font-style: italic;
    font-size: 2.8em;
    font-weight: 400;
    color: $white;
    letter-spacing: -1px;
}

.my-btn {
    display: inline-block;
    padding: 25px 50px;
    border-radius: 5px;
}

.accent {
    background: $accent;
    color: $white;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: $ff-mont;
    font-weight: 700;
}

p {
    font-family: 'Roboto Slab';
    font-weight: 400;
}

.section-title {
    color: $black;
    text-align: center;
    h2 {
        font-family: $ff-mont;
        text-transform: uppercase;
        font-size: 2.8em;
        margin: 0;
    }
    p {
        font-family: $ff-droid;
        color: $dark-grey-p;
        font-size: 1.1em;
        margin: 20px 0;
    }
}

.sub-title {
    color: $black;
    text-align: center;
    h4 {
        font-family: $ff-mont;
        font-size: 1.2em;
        font-weight: 700;
    }
    p {
        font-family: $ff-droid;
        color: $dark-grey-p;
        font-size: 1em;
    }
}

//==================NAVBAR STYLES
.my-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    transition: .3s;
    z-index: 3;
    &.fixed {
        position: fixed;
        height: 60px;
        background: $black;
        z-index: 5;
        .logo {
            padding: 20px 0;
            transition: .3s;
        }
        ul>li>a {
            padding: 10px 10px 0;
            margin-bottom: 10px;
        }
    }
    .hidden {
        display: none;
    }
}

.my-logo {
    display: inline-block;
    font-family: $ff-wisdom;
    font-size: 2em;
    color: $accent;
    cursor: pointer;
    margin: 5px 10px 0;
    transition: .3s;
    line-height: 42px;
}

.navbar-collapse {
    display: inline-block;
    float: right;
    ul {
        list-style-type: none;
        margin: 0;
        li {
            display: inline-block;
            a {
                font-family: $ff-mont;
                display: block;
                margin-left: 30px;
                margin-top: 20px;
                text-decoration: none;
                text-transform: uppercase;
                color: $white;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.4px;
                transition: .3s;
            }
            &:hover a {
                color: $accent;
            }
            &.active a {
                color: $accent;
            }
        }
    }
}

//==================JUMBOTRON STYLES
.hero {
    height: 100vh;
    background: black;
    z-index: 1;
    position: relative; // background-image: url('../images/background-image.png');
    display: flex;
    text-align: center;
    align-items: center;
}

.hero img {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    background-attachment: fixed;
    z-index: -2;
}

//=====================SERVICES STYLES
.row::after,
.row::before {
    content: " ";
    display: table;
    clear: both;
}

.services {
    margin: 120px auto;
}

.services [class*="col-"] {
    margin: 50px auto;
}

.service-icon {
    margin: 25px auto;
    width: 70px;
    height: 70px;
    position: relative;
    border: 3px solid $accent;
    border-radius: 50%;
}

.service-icon img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

//=====================PORTFOLIO STYLES
.portfolio {
    background: $background-grey;
    padding: 120px 0;
    .section-title {
        margin-bottom: 30px;
    }
    .sub-title {
        margin-top: 29px;
        h4 {
            margin: 5px 0 0 0;
        }
        p {
            margin: 0;
        }
    }
    img {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.portfolio-photo {
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    figcaption {
        position: absolute;
        top: 130%;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($accent, .8);
        color: $white;
        text-shadow: 1px 1px 3px $dark-grey-p;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2em;
        transition: top ease-in-out 250ms;
    }
    &:hover figcaption,
    &:focus figcaption,
        {
        top: 0;
    }
}

.portfolio-title {
    font-size: 2.2em;
    margin-bottom: auto;
    font-family: $ff-mont;
    font-weight: 400;
    text-transform: uppercase;
}

.portfolio-desc {
    font-family: $ff-droid;
    font-size: 1em;
}

.portfolio-link {
    font-family: $ff-mont;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: none;
    color: $white;
    transition: .2s;
    align-self: flex-start;
    border-bottom: 2px solid $white;
}

a:hover {
    text-decoration: none;
}

// ====================================================
//=======================================================
//===================== About - TIMELINE STYLES
//=======================================================
%clearfix {
    &:after,
    &:before {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}

// Timeline
.about {
    margin: 120px auto;
    .section-title {
        margin-bottom: 80px;
    }
    #timeline {
        width: 100%;
        margin: 0px auto;
        position: relative;
        padding: 0 10px;
        transition: all .4s ease;
        &:before {
            content: "";
            width: 9px;
            height: 100%;
            background: red; //$light-grey;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            position: absolute;
        }
        &:after {
            content: "";
            clear: both;
            display: table;
            width: 100%;
        }
        .timeline-item {
            margin-bottom: 80px;
            position: relative;
            @extend %clearfix;
            &:last-child {
                height: 170px;
                margin-bottom: 0
            }
            .timeline-img {
                background: $light-grey;
                width: 170px;
                height: 170px;
                position: absolute;
                top: 0;
                left: 50%;
                overflow: hidden;
                transform: translateX(-50%);
                border-radius: 50%;
                .tm-photo {
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                .timeline-ending {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    div {
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        object-fit: cover;
                    }
                }
                img {
                    position: absolute;
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                }
                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    border-radius: 50%;
                    font-family: $ff-mont;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: 700;
                    height: 160px;
                    width: 160px;
                    align-items: center;
                    justify-content: center;
                    background: $accent;
                    color: $white;
                }
                .animate {
                    animation: pulsing infinite 4s;
                }
            }
            .timeline-content {
                margin: auto 0;
                width: 40%;
                padding: 0 20px;
                background: #fff;
                padding: auto 20px;
                .sub-title {
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    height: 170px;
                    justify-content: center;
                    h4:first-of-type {
                        text-transform: uppercase;
                    }
                    h4:last-of-type {
                        text-transform: capitalize;
                    }
                }
                &.right {
                    float: right;
                    .sub-title {
                        text-align: left;
                        display: flex;
                        flex-direction: column;
                        height: 170px;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;
        &:before {
            left: 0;
        }
        .timeline-item {
            .timeline-content {
                width: 90%;
                float: right;
            }
            .timeline-icon {
                left: 0;
            }
        }
    }
}

// ========= TEAM STYLES
.team {
    padding: 120px 0;
    background: $background-grey;
    .team-photo {
        margin: 0 auto;
        width: 230px;
        height: 230px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        img {
            position: absolute;
            top: -10%;
            left: 0;
            width: 100%;
            background-size: cover;
            object-fit: center;
            transition: all ease-in-out .5s;
            &:hover {
                top: -13%;
            } 
        }
    }
    .sub-title {
        margin: 25px auto 14px;
    }
    .team-social {
        display: flex;
        align-content: space-between;
        justify-content: space-around;
        margin: 0 auto;
        text-align: center;
        width: 60%;
        a {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            color: $black;
            font-size: 1.2em;
            width: 41px;
            height: 41px;
            border: 3px solid $black;
            border-radius: 50%;
            transition: .3s;
            &:hover {
                border: none;
                color: $white;
            }
        }
        .i-facebook:hover {
            background: $facebook-blue;
        }
        .i-twitter:hover {
            background: $twitter-blue;
        }
        .i-pinterest:hover {
            background: $pinterest-red;
        }
        .i-google:hover {
            background: $google-red;
        }
    }
}


//COMPANIES
.logos {
    display: block;
    margin: 60px auto;
    width: 100%;
    text-align: center;
    a {
        
        display: inline-block;
      margin: 10px 15px;
    }
}

.contact {
    background: $black;
    .col-md-6 {
        
    }
}
.area {
    height: 100%;
}